body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #F07167;
  --secondary-color: #00AFB9;
  --font-color: #0081A7;
  --bg-color: #FDFCDC;
  --heading-color: #0081A7;
  /* --primary-color: #0081A7;
  --secondary-color: #00AFB9;
  --tertiary-color: #FDFCDC;
  --quaternary-color: #FED9B7;
  --quinnary-color: #F07167; */
}

a {
  color: var(--font-color);
}