body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #E07A5F;
  --secondary-color: #81B29A;
  --tertiary-color: #F2CC8F;
  --font-color: #3D405B;
  --bg-color: #F4F1DE;
  --heading-color: #3D405B;
  --border-color: var(--secondary-color);
  --shadow-color: var(--secondary-color);
  --card-background-color: var(--tertiary-color);
}

a {
  color: var(--font-color);
}