#IntroContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* #BorderBox {
    height: 75%;
    border-right: 2px solid black;
} */

#IntroParagraph {
    flex: 1;

}

#PictureContainer {
    flex: 1;
}