#LargeContainer {
    min-height: 35em;
    width: 87%;
    margin: 1em auto 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 5px solid var(--border-color);
    /* background-color: var(--card-background-color); */
    border-radius: 4% / 10%;
}

#PicNameTechContainer {
    flex: 2 2;
    /* background-color: aqua; */

}

#BriefDescriptionContainer {
    flex: 1 1;
    /* background-color: tan; */
}

#VideoContainer {
    flex: 3 3;
}